@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

.best{
  width: 76%;
  height:135px;
  background-color:#E2E2E2 ;
  border-radius: 25px;
  margin-top:10px;
  margin-left: 10%;
  -border:1px solid red;
  padding: 2%;
}
.best p{
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1em;
}
.deelptext{
  width: 98%;
  height:95%;

  overflow: auto;
  -padding:1.5%;
  margin-left: 0px;
  margin-top: -10px;
}

.deelptext div{
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1em;
}